
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif !important;
}

   
   .thumbnail {
        position: relative;
    }

    #btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }

    #loading {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff no-repeat center center;
        z-index: 99999;
    }

      #stickynav a:link {
        color: #800080;
        background-color: transparent;
        text-decoration: none;
      }
      
      #stickynav a:visited {
        color: #9370db;
        background-color: transparent;
        text-decoration: none;
      }
      
      #stickynav a:hover {
        color: #800080;
        background-color: transparent;
        text-decoration: underline;
      }
      
      #stickynav a:active {
        color: #663399;
        background-color: transparent;
        text-decoration: underline;
      }

      #footer a:link {
        color: #967bb6;
        background-color: transparent;
        text-decoration: none;
      }
      
      #footer a:visited {
        color: #967bb6;
        background-color: transparent;
        text-decoration: none;
      }
      
      #footer a:hover {
        color: #967bb6;
        background-color: transparent;
        text-decoration: underline;
      }
      
      #footer a:active {
        color: #967bb6;
        background-color: transparent;
        text-decoration: underline;
      }

      #stickynav{
      background-color: #f8f8ff;            
      }